.square {
    background:black;
 
    float: left;
    
    font-weight: bold;
   
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 10%;
    height: 10%;
    border-radius: 0px;
  }
  


  .square .food{
      border-radius: 50%;
      background-color: red;
  }